Repository googleapis/nodejs-video-intelligence, pull requests merged in 2020-12, with the labels that each got.

#504 feat: person detection samples to GA
  samples/analyze-person-detection-gcs.js
  samples/analyze-person-detection.js
  samples/system-test/analyze-person-detection-gcs.test.js
  samples/system-test/analyze-person-detection.test.js
Labels: api: videointelligence, cla: yes, samples

#507 docs: updated samples in READMEs
  README.md
  samples/README.md
  src/v1/gapic_metadata.json
  src/v1beta2/gapic_metadata.json
  src/v1p1beta1/gapic_metadata.json
  src/v1p2beta1/gapic_metadata.json
  src/v1p3beta1/gapic_metadata.json
  synth.metadata
Labels: api: videointelligence, cla: yes, context: partial

#508 feat: introduce tracks and thumbnails fields for FaceDetectionAnnotation
  protos/google/cloud/videointelligence/v1/video_intelligence.proto
  protos/protos.d.ts
  protos/protos.js
  protos/protos.json
  src/v1/gapic_metadata.json
  src/v1beta2/gapic_metadata.json
  src/v1p1beta1/gapic_metadata.json
  src/v1p2beta1/gapic_metadata.json
  src/v1p3beta1/gapic_metadata.json
  synth.metadata
Labels: api: videointelligence, cla: yes, context: full

#510 chore: added retry logic for flaky test issue #495
  samples/system-test/analyze-streaming-safe-search.test.js
Labels: api: videointelligence, cla: yes

#511 docs: add instructions for authenticating for system tests
  CONTRIBUTING.md
  README.md
  synth.metadata
Labels: api: videointelligence, automerge, cla: yes, context: full
